﻿@model IEnumerable<OauthWebApplication.Models.Commit>

@{
    ViewBag.Title = "Список коммитов";
}

<h3>Коммиты репозитория <b>@ViewBag.owner:@ViewBag.repo</b></h3>
<div class="row">    
    <div class="col-md-3 col-md-offset-9">        
        @Html.ActionLink("Обновить", "Commits", "Home", new { owner = ViewBag.owner, repo = ViewBag.repo, command = "Update" }, new { @id = "update", @class = "btn btn-success" })
        <input id="purge" class="btn btn-danger" type="button" value="Удалить" disabled />
    </div>
</div>
<table id="commits" class="table stripe" cellspacing="0" style="width:100%">
    <thead>
        <tr>   
            <th>Id</th>         
            <th>Автор</th>
            <th>Email</th>
            <th>Коммит</th>
            <th>Сообщение</th>            
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.CommiterName)</td>
                <td>@Html.DisplayFor(modelItem => item.CommiterEmail)</td>
                <td>@Html.DisplayFor(modelItem => item.Sha)</td>                       
                <td>@Html.DisplayFor(modelItem => item.Message)</td>
                <td>@Html.DisplayFor(modelItem => item.CommitDate)</td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    @Scripts.Render("~/scripts/datatables.min.js")
    @Scripts.Render("~/scripts/dataTables.bootstrap.min.js")
    @Scripts.Render("~/scripts/Site.js")   
}



