﻿
@{
    ViewBag.Title = "Ошибка получения репозитория";
}
<div class="container">
    <h2>Ошибка!</h2>
    <p>Извинте, но видимо такого сочетания владельца <b>@ViewBag.owner</b> и репозитория <b>@ViewBag.repo</b> не существует.</p>
    @Html.ActionLink("Вернуться на главную »", "Index", "Home", new { }, new { @class = "btn btn-primary btn-md" })
</div>