﻿@{
    ViewBag.Title = "Главная страница";
}

<div class="container">
    <h1>ASP.NET OAuth GitHub приложение</h1>  
    @if (string.IsNullOrEmpty(ViewBag.AccessToken))
    {
        @Html.ActionLink("Авторизуйтесь через GitHub, пожалуйста", "Authorization", null, new { @id = "pleaseAuthorize", @class = "btn btn-primary btn-md" })
    }
    else
    {
        using (Html.BeginForm("Repos", "Home", FormMethod.Post, new { @class = "form-getcommits" }))
        {
            <h3 class="form-signin-heading">Форма получения коммитов</h3>
            <input type="hidden" value="heads/master" name="Branch" />            
            @Html.TextBox("Username", "", new { @id = "owner", @class = "form-control", @placeholder = "Владелец репозитория" })           
            @Html.TextBox("Reponame", "", new { @id = "repo",  @class = "form-control", @placeholder = "Название репозитория" })
            <button type="submit" class="btn btn-lg btn-primary btn-block">Получить</button>
        }
        <!--@Html.ActionLink("Посмотреть коммиты репозитория", "Commitlist", null, new { @class = "btn btn-primary btn-lg" })-->
    }

</div>