﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #eee;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

h1 {
    text-align: center;
}
h3 {
    font-size: 22px;
}
#pleaseAuthorize{
    margin: 0 auto;   
    display: block;
    max-width: 300px;
}
.form-getcommits{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-getcommits .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-getcommits #owner {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-getcommits #repo {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected,
.table.dataTable.stripe tbody tr.even.selected, table.dataTable.display tbody tr.even.selected{
    background-color: #b0c4de;
}
